
html {
  padding: 10px;
  background: #2c67dd fixed no-repeat;
  background-size: cover;
  color: #15001d;
  font-family: 'Roboto', sans-serif;
  background-image: url('/images/cross.svg')

}


body {
  h1 {
    color: #fffdfe;
    letter-spacing: .1em;
  }
}

.commento-main-area {
  color: lightcoral;
  max-width: 50%;

  .commento-subtitle {
    color: lightcoral;
    max-width: 50%;
  }

}

.articles_main, .home_main {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
width:50%;
}

.home_main {
  width: 50%;
}

.article_main {
  background: rgba(255, 255, 255, 0.3);
  width: 50%;
  position: relative;
  padding: 10px;

  img {
    max-width: 50%;
    margin: 5px;
  }

  .article_content {
    padding: 10px;
  }

  .article_embed {
    max-width: 40%;
    margin: 5px;
  }
}

.proposal_main {
  max-width: 50%;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;

  label {
    font-size: 24px;

    input {
      margin: 10px;
      height: 20px;
      width: 300px;
    }
  }

  .proposal_editor {

    margin-top: 20px;
    margin-bottom: 20px;
  }

}


.menu {
  list-style-type: none;

  margin: 0;
  padding: 0 0 20px;

  li {
    float: left;
    margin-right: 10px;
    cursor: pointer;

    a {
      color: #df0018;
      font-size: 24px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: coral;
      }
    }
  }
}

.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    cursor: pointer;
    padding: 5px;

    &:hover {
      color: darkred;

    }
  }
}
