
.menu, .posts {
    list-style-type:none;
    margin:0;
    padding:0;
}
.menu li {
    float:left;
    margin-left:10px;
    cursor: pointer;

}
.posts li {
    cursor:pointer;
    padding:5px;
}

.posts li:hover {
    color:yellow;
}


.menu li a {
    color:yellow;
    text-decoration:none;
    cursor:pointer;

}
html    {
    padding:10px;
    background: #596aa4;
    color:white;
    font-family: 'Roboto',sans-serif ;
}