



html    {
  padding:10px;
  background: #37526e;
  color:goldenrod;
  font-family: 'Roboto',sans-serif ;
}

.article_main {
  max-width:80%;
  position:relative;
  img {
  max-width:50%;
    margin:5px;
}
.article_embed {
  max-width:40%;
  margin:5px;
}
}

.proposal_main {
  max-width:80%;
 label {
   font-size:24px;
   input {
     margin:10px;
     height:20px;
     width:300px;
   }
 }
  .proposal_editor {

    margin-top: 20px;
    margin-bottom:20px;
  }

}


.menu {
  list-style-type:none;

  margin: 0;
  padding:0;
  li {
    float:left;
    margin-right:10px;
    cursor: pointer;
    a {
      color: #b75c08;
      text-decoration:none;
      cursor:pointer;

    }
  }
}

.posts {
  list-style-type:none;
  margin:0;
  padding:0;
   li {
    cursor:pointer;
    padding:5px;
     &:hover {
       color:darkred;

     }
  }
}
